body {
    font-family: "Open Sans", sans-serif;
  color: #fff; 
  font-size: 18px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
.container{
  margin: 0 auto;
  max-width: 1360px;

}
.header {
  position: absolute;
  left: 0;
  right: 0;



}
.header .container{
  padding-left: 28px;
  padding-right: 28px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.logo {
font-size: 35px;
line-height: 1.2;

}
.span-logo{
  color: #28a745;
}
.nav {
}
.nav-list {
  display: flex;
  align-items:center;
  gap: 40px;
  
}

.nav-item {
}
.nav-link {
  display: block;
  padding: 20px 0;
line-height: 1.6;
}
.main {
}

.hero{
  padding-top: 280px;
  padding-bottom: 282px;
  background-color: rgba(0, 0, 0, 0.5); 
  background-image: url(../images/bg-hiro.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero-title{
font-weight: 300;
font-size: 55px;
line-height: 1.2;
text-align: center;
color: #e9e9e9;
margin-bottom: 24px;
}
.hero-text{
font-weight: 400;
font-size: 22px;
line-height: 1.7;
text-align: center;
color: #e9e9e9;
margin-bottom: 32px;
}
.btn{
  display: block;
  border-radius: 5px;
  min-width: 165px;
  margin: 0 auto;
  background-color: #28a745;
  padding: 9px 29px;
  }