body {
  font-family: "Open Sans", sans-serif;
  color: #fff;
  font-size: 18px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
.container {
  margin: 0 auto;
  width: 1360px;
}
.header {
  position: absolute;
  left: 0;
  right: 0;
}
.header .container {
  padding-left: 28px;
  padding-right: 28px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  font-size: 35px;
  line-height: 1.2;
}
.span-logo {
  color: #28a745;
}
.nav {
}
.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-item {
}
.nav-link {
  display: block;
  padding: 20px 0;
  line-height: 1.6;
}
.main {
}

.hero {
  padding-top: 280px;
  padding-bottom: 282px;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url(../images/bg-hiro.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero-title {
  font-weight: 300;
  font-size: 55px;
  line-height: 1.2;
  text-align: center;
  color: #e9e9e9;
  margin-bottom: 24px;
}
.hero-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 1.7;
  text-align: center;
  color: #e9e9e9;
  margin-bottom: 32px;
}
.btn {
  display: block;
  border-radius: 5px;
  min-width: 165px;
  margin: 0 auto;
  background-color: #28a745;
  padding: 9px 29px;
}

.about-team {
  background-color: #28a745;
}
.about-team .container {
  display: flex;
}
.about-team-img {
}
.about-team-text-subtitle,
.blog-subtitle {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.64;
  color: #fff;
  margin-bottom: 8px;
}
.about-team-title,
.blog-title {
  font-weight: 300;
  font-size: 38px;
  line-height: 1.26;
  color: #fff;
  margin-bottom: 24px;
}
.about-team-text,
.blog-text {
  margin-bottom: 24px;
  font-size: 18px;
  line-height: 1.56;
  color: #fff;
}
.about-team-button,
.blog-button {
  background-color: transparent;
  font-size: 18px;
  line-height: 1.56;
  color: #fff;
  min-width: 167px;
  padding-bottom: 12px;
  padding-top: 12px;
  padding-left: 34px;
  padding-right: 34px;
  border: 1px solid #fff;
  border-radius: 5px;
  min-width: 167px;
  height: 50px;
}



.image-text {
  padding-top: 80px;
  padding-bottom: 80px;
  padding-left: 20px;
}

.business-cases,
.our-professional-team {
  padding: 80px 0;
}

.business-container,
.our-team-container {
  padding-left: 28px;
  padding-right: 28px;
}

.business-cases-text,
.our-team-text {
  font-weight: 400;
font-size: 20px;
line-height: 1.65;
text-align: center;
color: #333;
margin-bottom: 24px;
}

.business-cases-header,
.business-cases-header {
  font-weight: 300;
font-size: 38px;
line-height: 1.26;
text-align: center;
color: #333;
margin-bottom: 24px;
}

.business-cases-text2,
.our-tem-text2 {
  font-weight: 400;
font-size: 18px;
line-height: 1.56;
text-align: center;
color: #333;
margin-bottom: 24px;
}

.business-cases-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 24px;
}

.business-cases-list-item {
  flex-basis: calc(( 100% - 40px ) / 3);
}

.blog-container {
  display: flex;
}

.blog {
  background: #0284d0;
}

.blog-container .image-text {
  padding-left: 28px;
}

.our-team-list {
  display: flex;
  gap: 20px;
}

.our-team-list-name {
  font-weight: 400;
font-size: 25px;
line-height: 1.27;
text-align: center;
color: #333;
margin-top: 20px;
margin-bottom: 12px;
}

.our-team-proffesions {
  font-weight: 400;
font-size: 18px;
line-height: 1.56;
text-align: center;
color: #333;
}

.social-list {
  display: flex;
  gap: 25px;
}

.our-team-img-wrapper {
  position: relative;
}

.our-team-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;

  transition: visibility 250ms ease-in-out, opacity 250ms ease-in-out;
}

.our-team-img-wrapper:hover .our-team-overlay {
 visibility: visible;
 opacity: 1;
}

.social-icon {
  fill: #fff;
}
